.ham-line {
    width: 25px;
    background-color: #ffffff;
    height: 1px !important;
    margin: 7px 1px;
    margin-left: 3px;
    transition: 0.2s ease-in-out;
    z-index: 105;
}

.hamburger {
    display: none;
    position: fixed;
    width: 30px;
    right: 15px;
    top: 15px;
    z-index: 100;
    border-radius: 5px;
    text-align: center;
    z-index: 105;
}

/* changing ham lines to cross when .open class is added */
.hamburger.open .ham-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.open .ham-line:nth-child(2) {
    opacity: 0;
}

.hamburger.open .ham-line:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}