
header {
    position: fixed;
    z-index: 99;
    padding: 15px;
    font-size: 15px;
    width: 450px;
    right: 15%;
    top: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #11111139;
    backdrop-filter: blur(5px);
}

nav ul li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

nav ul li a {
    text-decoration: none;
    font-weight: 100;
    color: #fff;
    width: 60%;
    padding: 5px;
    transition: 0.2s ease;

    &:hover {
        color: rgb(192, 191, 191);
    }
}
