.left-side{
    position: relative;
    width: 10%;
}
.left-line {
    position: relative;
    width: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.one-section{
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.line {
    position: relative;
    width: 4px;
    height: 90%;
    opacity: 0;
    background: linear-gradient(to bottom, rgb(255, 0, 255), rgb(255, 0, 255));
    margin: auto;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}
.icon {
    width: 40px;
    height: 5%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    transition: opacity 0.3s ease-in;
}
.icon img {
    width: 25px !important;
}
.left-line .one-section:nth-child(1) img {
    width: 13px !important;
    margin-top: 25px;
}
.left-line .one-section:nth-child(1) .icon::before {
    content: '';
    width: 15px;
    height: 15px;
    background: gray;
    opacity: 0.2;
    filter: blur(10px);
    position: absolute;
}
.left-line .one-section:nth-child(2) .icon::before  {
    content: '';
    width: 30px;
    height: 30px;
    background: rgb(255, 0, 255);
    opacity: 0.6;
    filter: blur(20px);
    position: absolute;
}
.left-line .one-section:nth-child(3) .icon::before {
    content: '';
    width: 30px;
    height: 30px;
    background: rgb(51, 152, 219);
    opacity: 0.6;
    filter: blur(20px);
    position: absolute;
}
.left-line .one-section:nth-child(4) .icon::before {
    content: '';
    width: 30px;
    height: 30px;
    background: rgb(51, 219, 82);
    opacity: 0.6;
    filter: blur(20px);
    position: absolute;
}
.left-line .one-section:nth-child(5) .icon::before {
    content: '';
    width: 30px;
    height: 30px;
    background: rgb(211, 219, 51);
    opacity: 0.6;
    filter: blur(20px);
    position: absolute;
}
.left-line .one-section:nth-child(1) .line {
    background: linear-gradient(to bottom, #111, rgb(255, 0, 255));
}
.left-line .one-section:nth-child(2) .line {
    background: linear-gradient(to bottom, rgb(255, 0, 255), rgb(51, 152, 219));
}
.left-line .one-section:nth-child(3) .line {
    background: linear-gradient(to bottom, rgb(51, 152, 219), rgb(51, 219, 82));
}
.left-line .one-section:nth-child(4) .line {
    background: linear-gradient(to bottom, rgb(51, 219, 82), rgb(211, 219, 51));
}
.left-line .one-section:nth-child(5) .line {
    background: linear-gradient(to bottom, rgb(211, 219, 51), rgb(51, 202, 219));
}