
/* responsive */
@media only screen and (max-width: 767px) {
    body {
        font-size: 15px;
    }
    header{
        display: none;
    }
    main{
        margin-top: 50px;
    }
    .first-page{
        flex-direction: column;
    }
    .intro{
        width: 100%;
        height: 50%;
    }
    .image{
        width: 100%;
        height: 50%;
    }
    .second-page-content{
        padding: 15px;
    }
    .second-page ul {
        grid-template-columns: 1fr;
    }
    .fifth-page h3{
        left: 29%;
    }
    .third-page h3,
    .second-page h3 {
        left: 25%;
    }
    .fourth-page h3{
        left: 42%;
    }
    .third-page-content {
        grid-template-columns: 1fr 1fr;
        padding: 14px;
    } 
    .fourth-page-content{
        grid-template-columns: 1fr;
        padding: 5px;
    }
    .fourth-page-content div:nth-child(1) button:nth-child(1){
        border-bottom: 0.5px solid #4747479f;
    }
    .popup-info{
        width: 70vw;
        height: 350px;
    }
    .blur-screen {
        background: rgba(30, 30, 30, 0.9); 
    }
    .fifth-page-content{
        grid-template-columns: 1fr;
        padding: 14px;
    }
    .fifth-page-content span{
        font-size: 0.7em;
    }
    /*
    .third-page{
        width: calc(100% - 15%);
    }

    .left-line {
        left: -5px;
    }
    */
}