.fifth-page {
    border: 0.5px solid #4747479f;
}
.fifth-page-content{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
}
.fifth-page-content a{
    background: rgba(169, 169, 169, 0.08);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    &:hover{
        background: #000013;
        border: 0.1px solid #4747479f;
    }
}
.fifth-page-content span{
    color: rgb(161, 160, 160);
    font-size: 0.5em;
}
.fifth-page-content a:hover svg{
    fill: #ddd;
}
.fifth-page-content a:hover span{
    text-decoration: underline;
}
